.tela-login {
  background-color: #f1f4f5;
  height: 120vh;
  text-align  : center;
  font-family: "Roboto", sans-serif;
}

.escolha-login {
  margin-top: 100px;

}

.gradient {
    background-image: linear-gradient(to right, #8F2955, #E42B41, #D34E3A);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 60px;
  }

  .botao-escolha {
    color: #ffffff;
    background-image: linear-gradient(to right, #8F2955, #E42B41, #D34E3A);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
  }
  
  .botao-escolha:hover {
    transition: 0.5s;
    box-shadow: 2px, #000000;
  }

  .profile {
    width: 100px;
    margin-top: 50px;
  }

  .cliente, .administrador {
    background-color: #ffffff;
    width: 370px;
    height: 350px;
    border-radius: 30px;
    box-shadow: 10px, #9D9D9D;
  }

  .divs-escolha {
    margin: auto;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    display: flex;

  }
